body {
  background-color: #616d73;
  background-image: linear-gradient(135deg, #0c0d49 0%, #616d73 100%);
}
.cardConsultas {
  border: solid 1px;
  border-radius: 30px;
  width: 720px;
  height: 500px;
}
.cardConsultas iframe {
  width: 100%;
  height: 300px;
}
.ingreso{
  display: block;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
.iniciales{
  margin-right: 100px;
}

.img-fluid {
  max-width: 100%; 
  height: auto; 
  }

  .navbrans{
    margin-left: 10px;
    margin-right: 10px;
}
.imgBanner {
  height: 600px;
}
.marcaAgua {
  position: absolute;
  top: 480px;
  left: 10px;
  opacity: 50%;
}
.marcaAgua img {
  width: 110px;
  height: 110px;
}
/* .containerDescuento {
  text-align: center;
  position: relative;
  top: -90px;
  left: 6px;
  background-color: #4e3f92;
} */
.bannerOferta {
  position: absolute;
  top: 50px;
  left: 70px;
}
.bannerOferta img {
  width: 300px;
  height: 300px;
}
.imagenDescuento {
  position: absolute;
  width: 150px;
  height: 150px;
  top:180px;
  left:330px;
  rotate: 30deg;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: linear-gradient(120deg, #4e3f92 0%, #04013c 100%);
}
.imagenDescuento h2 {
  font-size:70px;
  position: absolute;
  top: 25px;
  left: 2px;
  color: white;
  rotate: -50deg;
}
.textoDescuento {
  width: 350px;
  font-size: 30px;
  position: absolute;
  top: 350px;
  left: 80px;
  color: white;
}
.peliculas {
  height: 250px;
}
@media screen and (max-width: 575px) {
  .imgBanner {
    height: 170px;
  }
  .peliculas {
    height: 120px;
  }
  .marcaAgua {
    position: absolute;
    top: 125px;
    left: 2px;
    opacity: 50%;
  }
  .marcaAgua img {
    width: 40px;
    height: 40px;
  }
  .bannerOferta {
    position: absolute;
    top: 10px;
    left: 20px;
  }
  .bannerOferta img {
    width: 80px;
    height: 80px;
  }
  .imagenDescuento {
    width: 60px;
    height: 60px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: linear-gradient(120deg, #4e3f92 0%, #04013c 100%);
    position: absolute;
    top: 30px;
    left: 90px;
    rotate: 30deg;
  }
  .imagenDescuento h2 {
    position: absolute;
    top: 14px;
    left: 5px;
    color: white;
    rotate: -50deg;
    font-size:x-large;
  }
  .textoDescuento {
    width: 130px;
    font-size: xx-small;
    position: absolute;
    top: 95px;
    left: 20px;
    color: white;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  .imgBanner {
    height: 300px;
  }
  .peliculas {
    height: 300px;
  }
  .marcaAgua {
    position: absolute;
    top: 220px;
    left: 8px;
    opacity: 50%;
  }
  .marcaAgua img {
    width: 70px;
    height: 70px;
  }
  .bannerOferta {
    position: absolute;
    top: 20px;
    left: 70px;
  }
  .bannerOferta img {
    width: 150px;
    height: 150px;
  }
  .imagenDescuento {
    position: absolute;
    width: 90px;
    height: 90px;
    top:70px;
    left:200px;
    rotate: 30deg;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: linear-gradient(120deg, #4e3f92 0%, #04013c 100%);
  }
  .imagenDescuento h2 {
    font-size:40px;
    position: absolute;
    top: 15px;
    left: 5px;
    color: white;
    rotate: -50deg;
  }
  .textoDescuento {
    width: 230px;
    font-size: 20px;
    position: absolute;
    top: 170px;
    left: 80px;
    color: white;
  }
}
